<!-- <div class="container">
  <h2>Bem-vindo, {{ username }}!</h2>
  <p>Você está logado.</p>
</div> -->

<div class="navbar">
  <img src="logo_1.png" alt="" srcset="">
  <div class="searchbar">
    <img src="search.png" alt="" srcset="" style="width: 25px;">
    <input type="text" placeholder="Pesquisar...">
    <!-- <button type="submit">Buscar</button> -->
  </div>
  <img src="icons.png" alt="" srcset="" style="width: 150px;">
  <img src="profile.png" alt="" srcset="" style="width: 40px;margin-left: 40px;">
</div>
<div class="under-bar">
  <div class="profile-me">
    <img src="profile.png" alt="" srcset="" style="width: 60px;">
    <span>{{ username }}</span>
    <p>Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Omnis iusto assumenda
      nostrum inventore eveniet distinctio aliquam
      recusandae, minima explicabo. Porro nihil reiciendis
      pariatur nostrum nulla debitis! Fugiat ipsum
      necessitatibus minima!</p>
  </div>

</div>

<div class="post-area">
  <app-post-list></app-post-list>
</div>